{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
    <span class="navbar-brand mb-0 h1">You Are: {{name}}</span>
      <button class="btn custom-black-button me-2" type="button" id = PageButton>Page</button>
      <button class="btn custom-black-button me-2" type="button" id = logoutButton>Logout</button>
    </form>
    
</nav>

<style>
    .custom-black-button {
        background-color: black;
        color: white; /* Warna teks */
        /* Anda dapat menyesuaikan properti lain sesuai kebutuhan */
    }
</style>

<h1>Shopping List Page</h1>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Name : {{ name }}</span>
    </div>
</nav>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Class :{{ class }}</span>
    </div>
</nav>

<table id="product_table"></table>

{% comment %} Modal {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>
    
<br />
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        text-align: center;
        vertical-align: middle;
        padding: 8px;
        border: 1px solid #ddd;
    }
</style>

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<br>
<br>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Edit Product</th>
            <th>Delete Product</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
            <td>
                <a href="edit-product/${item.pk}">
                    <button>
                        Edit
                    </button>
                </a>
            </td>
            <td>
            <a href="delete/${item.pk}">
                    <button>
                        Delete
                    </button>
            </a>
            </td>
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }
    refreshProducts()
    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct

    document.getElementById("logoutButton").addEventListener("click", function() {
        window.location.href = "{% url 'main:logout' %}";
    });

    document.getElementById("PageButton").addEventListener("click", function() {
        window.location.href = " https://www.youtube.com/watch?v=dQw4w9WgXcQ ";
    });
</script>

<br>
<br>


<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}